extends layout.pug

block content
	.nav-bar
		p Hello #{userName}
		a.nav-button(href='/newPost') New Post
	#pagePosts
		each post in posts
			.post-card-container
				a(href=post.linkUrl)
					h3 #{post.title}
				.post-card
					a(href=post.linkUrl)
						img.post-img(src=post.imgUrl)

					form(method='POST')
						button.vote-button(type='submit' formaction='post/'+post._id+'/upvote')
							img.button-hover(src='/img/arrow-up.png')
						button.vote-button(type='submit' formaction='post/'+post._id+'/downvote')
							img(src='/img/arrow-down.png')
